#loading {
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255 , 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}